<h1>Listing histories</h1>

<table>
  <thead>
    <tr>
      <th>Aktion</th>
      <th>Benutzer</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.action %></td>
        <td><%= history.user_id %></td>
        <td><%= history.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History', new_history_path %>
