<h1>SMART-Time Historie </h1>

<table>
  <thead>
    <tr>
      <th>Aktion</th>
      <th>Benutzer</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.action %></td>
        <% unless history.user.nil? %>
        <td><%= history.user.email %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= history.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
