Personalstatus
<table border="1">
  <tr>
    <th>Lisa<br>
    	<%= image_tag("1.jpg", :size => "80x100") %>
    </th>
     <th>Karl<br>
    	<%= image_tag("2.jpg", :size => "80x100") %>
    </th>
     <th>Tanja<br>
    	<%= image_tag("3.jpg", :size => "80x100") %>
    </th>
    <th>Timo<br>
    	<%= image_tag("4.jpg", :size => "80x100") %>
    </th>
  </tr>
</table>
