Personalstatus
<table border="1">
  <tr>
    <th colspan="8">Lisa<br>
    	<%= image_tag("1.jpg", :size => "80x100") %>
    </th>
    <tr>
    <th style="background-color: #00FF00"> </th><th style="background-color: #00FF00"> </th><th style="background-color: #00FF00"> </th><th style="background-color: #00FF00"> </th><th style="background-color: #00FF00"> </th><th> </th><th> </th><th> </th>
    </tr>
     <th colspan="8">Karl<br>
    	<%= image_tag("2.jpg", :size => "80x100") %>
    </th>
     <th colspan="8">Tanja<br>
    	<%= image_tag("3.jpg", :size => "80x100") %>
    </th>
    <th colspan="8">Timo<br>
    	<%= image_tag("4.jpg", :size => "80x100") %>
    	<br>2/8
    </th>
  </tr>
</table>
